.head
{
	color:green;
	text-align:center;
	font-size:40px;
}
.value
{
	display:flex;
	background-color:gray;
	justify-content:center;
	width:100%;
	padding:50px;
}
.bg
{
	background-color:khaki;	
	width:100px;
	height:20px;
	margin:20px;
	border-radius:20px;
}
.bg1
{
	background-color:red;
	height:20px;
	width:60px;
	margin:20px;
	border-radius:20px;
}
.answer
{
	background-color:lightgreen;
}
